/*
 * Ext JS Library 2.0 RC 1
 * Copyright(c) 2006-2007, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

.x-column-tree .x-tree-node {
    zoom:1;
}
.x-column-tree .x-tree-node-el {
    /*border-bottom:1px solid #eee; borders? */
    zoom:1;
}
.x-column-tree .x-tree-selected {
    background: #d9e8fb;
}
.x-column-tree  .x-tree-node a {
    line-height:18px;
    vertical-align:middle;
}
.x-column-tree  .x-tree-node a span{
    
}
.x-column-tree  .x-tree-node .x-tree-selected a span{
    background:transparent;
    color:#000;
}
.x-tree-col {
    float:left;
    overflow:hidden;
    padding:0 1px;
    zoom:1;
}

.x-tree-col-text, .x-tree-hd-text {
    overflow:hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding:3px 3px 3px 5px;
    white-space: nowrap;
    height:1.2em;//height:20px;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}
.x-tree-hd-text {
    height:1.3em;//height:20px;
}

.x-tree-headers {
    background: #f9f9f9 url(../../../lib/ext-2.0/resources/images/default/grid/grid3-hrow.gif) repeat-x 0 bottom;
    cursor:default;
    zoom:1;
}

.x-tree-hd {
    float:left;
    overflow:hidden;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
}

.save-as-icon {
    background-image:url(images/page_add.png) !important;
}
.save-icon {
    background-image:url(images/page_save.png) !important;
}
.load-icon {
    background-image:url(images/folder_page.png) !important;
}