body
{
	font-family: Arial, Verdana, sans-serif;
	font-size: 0.875em;
	background-color: #fff;
	padding: 20px;
}

a img,:link img,:visited img 
{ 
	border: none; 
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,html,p,blockquote,fieldset,input
{ 
	margin: 0; padding: 0;
}

/**
 * Tabs
 */
#main ul.tabs 
{
	list-style: none;
	margin: 0;
	padding: 0;
	clear: both;
	border-bottom: 1px solid #ccc;
	height: 18px;
	clear: both;
}

#main ul.tabs li 
{
	float: left;
	margin-right: 7px;
	text-align: center;
}

#main ul.tabs li a 
{
	display: block;
	height: 18px;
	padding: 0 6px 0 6px;
	background-color: #fff;
	color: #666;
	width: 80px;
}

#main ul.tabs li a:hover 
{
	color: #666;
}

#main ul.tabs li a.active 
{
	background-color: #ddd;
}

/*
#main ul.register_tabs 
{
	border-bottom:none;
}

#main ul.register_tabs li a.active 
{
	background-color:#6d7a81;
	color:#fff;
}
*/
/**
 * Styling
 */
 
#main 
{
		
}

.evaluator
{
	float: left;
	width: 560px;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
}

.evaluator .box
{
	border: 1px solid #ccc;
	width: 550px;
	padding: 3px;
	margin-bottom: 5px;
	overflow: auto;
}

.parameters
{
	float: left;
	width: 240px;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
}

.parameters p
{
	padding: 1px;	
}

.help 
{
	float: left;
	width: 240px;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
}

.help div
{
	float: left;
	width: 20px;
}


.help div.description
{
	float: left;
	width: 220px;
}

input,textarea
{
	padding: 3px;
	border: 1px solid #ccc;
	background-color: #fff8dc;
	
}

.disabled
{
	background-color: #dcdcdc;
}

input[disabled] 
{
	background-color: #dcdcdc;
}

.matches
{
	color: red;
}

#result
{
	overflow: auto;
}
